[include]
    path = ~/.gitconfig.personal

[color]
    ui = auto
    diff = auto
    status = auto
    branch = auto

[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green

[color "diff"]
    meta = yellow
    frag = magenta
    old = red
    new = green
    whitespace = cyan reverse

[color "status"]
    added = yellow
    changed = green
    untracked = cyan

[alias] 
    lol = log --graph --decorate --pretty=oneline --abbrev-commit

[push]
    default = current

[core]
    pager = less -F -X -R
